@model WebApplication1.Models.ViewModel.View.ProductIndexViewModel

<h1>Product Index</h1>
<h2>@Model.Title</h2>
<a href="/Product/Create">新增資料</a>
@foreach (var product in Model.ProductList)
{
    <div>
        @*<div>
            <a href="/Product/ProductDetail?id=@product.Id">
                <img src="@product.ImgUrl" />
            </a>
        </div>*@
        <h2>名稱:@product.Name</h2>
        <p>價格:@product.UnitPrice</p>
        <p>Tag:@product.Tag</p>
        <a href="/Product/ProductDetail/@product.Id">前往明細</a>
        <a href="/Product/Edit/@product.Id">前往編輯</a>
        @*<a href="/Product/Delete/@product.Id">刪除</a>*@
        <a href="/Product/DeleteProduct/@product.Id">刪除</a>
    </div>
} 