@model WebApplication1.Models.ViewModel.View.ProductDetailsViewModel

<h1>Product Detail</h1>
<div>
    <div>
        <img src="@Model.ImgUrl" />
    </div>
    <h2>@Model.Name</h2>
    <p>@Model.UnitPrice</p>

</div>